.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.audio-player {
  width: 100%;
  height: 50px;
  margin: auto;
  justify-content: space-around;
  background-color: white;
  border: 1px solid black;
}

.player-controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.playAudio {
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  border: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
}

.previousTrack {
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  border: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
}

.nextTrack {
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  border: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
}
.volume
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}
.volume-img
{
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  border: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
}
.playAudio > img {
  width: 100%;
}
.volumeSlider
{
  /* transform: rotate(-90deg); */
  -webkit-appearance:none;
  height: 10px;
  border-radius: 5px 5px 5px 5px;
  width: 100px;
  background-color: #FFEB9C;
}
input[type="range"]::-webkit-slider-thumb {
  background-color: white;
}

input[type="range"]::-moz-range-thumb {
  background-color: white;
}

input[type="range"]::-ms-thumb {
  background-color: white;
}
.previousTrack > img {
  width: 100%;
}

.nextTrack > img {
  width: 100%;
}
.volume-img > img 
{
  width: 100%;
}
p {
  margin: 0 0 0 5px;
  line-height: 1;
  display: inline-flex;
}

small {
  font-size: 10px;
}

.seekObjContainer {
  position: relative;
  width: 300px;
  margin: 0 5px;
  height: 5px;
}

.seekObj {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #e3e3e3;
  border: 1px solid black;
}

.percentage {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #FFEB9C;
}
.titre
{
  width: 20%;
  justify-content: center;
  align-items: center;
}
.currentTrackTitle
{
  width: 1000px;
}