/*police*/
@font-face {
    font-family: 'Aldrich';
    src: url('Aldrich-Regular.ttf')
}
/* toutes les pages */
body
{
    margin: 0;
    font-size: 1.2em;
    font-family: 'Aldrich-Regular.ttf',Arial, Helvetica, sans-serif;
    color: white;
    background: rgb(0,0,0);
    background: linear-gradient(18deg, rgba(0,0,0,1) 79%, rgba(255,235,156,1) 100%);  
    background-attachment: fixed;
}
.flex
{
    display: flex;
}
.row
{
    flex-direction: row;
}
.column
{
    flex-direction: column;
}
.text-info
{
    width: 100%;
    margin: auto;
}
    .text-success
    {
        color: green;
        margin-left: 10px;
        
    }
    .text-danger
    {
        color: red;
        margin-left: 10px;
    }
.invisible 
{
    opacity: 0;
    visibility: hidden;
}
/* mode sombre */
*
{
    box-sizing: border-box;
}
.dark .inter_left
{
    background-color: #454445;
    color: white ;
}
.dark .inter_right
{
    background-color: #454445;
    color: white ;
}
.dark .bloc_blanc
{
    background-color: #454445;
    color: white;
}
.dark .carousel
{
    background-color: #454445;
    color: white ;
}
.dark .slides
{
    background-color: #454445;
    color: white ;
}
.dark .audio-player
{
    background-color: #454445;
    color: white ;
}

.dark .navbar
{
    background-color: #454445;
    color: white;
    fill: white;
}


.checkbox 
{
	opacity: 0;
	position: absolute;
}
    .checkbox:checked + .label .ball 
    {
        transform: translateX(24px);
    }
.label 
{
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 20px;
	width: 45px;
	transform: scale(1.5);
}

    .label .ball 
    {
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 2px;
        left: 2px;
        height: 15px;
        width: 15px;
        transform: translateX(0px);
        transition: transform 0.2s linear;
    }
.modelightsombre
{
    margin-top: -10px;
    width: 150px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}
    .modelightsombre img
    {
        width: 30px;
    }
/* fin mode sombre*/


/* navbar */
.logo
{
    height: 50px;
    margin-top: 5px;
}
.image_logo
{
    height: 50px;
}
.image_logo img
{
    height: 100%;
    width: auto;
}
.texte_logo
{
    height: 50px;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, left 1s;
}

.texte_logo.invisible 
{
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
}
.texte_logo.move-left
{
    position: fixed;
    left: 0;
    z-index: -1;
    transition: left 1s;
}
.texte_logo img
{
    height: 100%;
    width: auto;
}
.fin_logo
{
    height: 50px;
}
.fin_logo img
{
    height: 100%;
    width: auto;
}
.navbar
{
    list-style: none;
    justify-content: space-evenly;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
}
.navbar.scrolled 
{
    background-color: #454445;
}
.navbar.scrolled .texte_logo
{
    transition: opacity 1s ease, left 1s;
}
.navbar.scrolled .texte_logo.invisible 
{
    transition: opacity 0.5s ease;
  }
.navpage
{
    margin-top: 15px;
    width: 80%;
    justify-content: space-evenly;
}
.navlink
{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.776);
}
.active
{
    color: white;
    text-shadow: 1px 1px 20px white, 0 0 1em white;
}
a:hover
{
    color: rgb(255, 255, 255);
}

.profil
{
    width: 200px;
}
.profil > a 
{
    color: white;
}
ul
{
    list-style-type: none;
}

ul a{
    display: block;
    text-decoration: none;
    color: white;
    width: 100%;
}

.sous{
    display: none;
    position: fixed;
    list-style: none;
    width: 150px;
    background-color: #454445;
}

ul li:hover .sous{
    display: block;
}
.sous li{
    width: 100%;
    text-align: left;
    margin-left: -30px;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: #454445;
}
.deroulant
{
    margin-top: -15px;
}

/*page accueil*/
.texte_intro
{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
.interraction_page
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    justify-content: space-around;
    color: black;
}
    .inter_left
    {
        justify-content: space-evenly;
        text-align: center;
        background-color: white;
        width: 35%;
        height: 300px;
        border-radius: 15px;
    }
    .inter_text
    {
        margin-left: 50px;
        margin-right: 50px;
        height: 100%;
    }
    .inter_right
    {
        justify-content: space-evenly;
        text-align: center;
        background-color: white;
        width: 35%;
        height: 300px;
        margin-bottom: 20px;
        border-radius: 15px;
    }
    .selecteur
    {
        text-align: center;
        margin-right: 20%;
        margin-left: 20%;
        margin-bottom: 20px;
    }
    .search_inter
    {
        margin-bottom: 20px;
        margin-right: 20%;
        margin-left: 20%;
        border: 1px solid black;
    }
    .button
    {
        text-decoration: none;
        color: black;
    }
    .inter_link
    {
        text-decoration: none;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5px;
        height: 35px;
        width: 150px;
        border-radius: 10px;
        color: black;
        background-color: #FFEB9C;
    }
        .inter_link:hover
        {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            padding-top: 5px;
            height: 35px;
            width: 150px;
            border-radius: 10px;
            color: white;
            background-color: black;
        }
.image_banniere
{
    background-image: url(../Ressources/vinyl_gauche.png);
    background-position-y: center;
    background-size: cover;
    height: 500px; 
    justify-content: space-evenly;
}
    .image_banniere > h2
    {
    margin-left: 10%;
    }
    .image_banniere img
    {
    width: 100px;
    }
    .lignes
    {
        width: 900px;
        font-size: 1.5em;
        justify-content: space-between;
        margin: auto;
    }
    .ligne1
    {
        width: 600px;
        justify-content: space-between;
        margin: 20px;
    }
    .vinyl
    {
    margin: 20px;
    justify-content: space-between;
    }

/*---------------carousel--------------- */

.carousel {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 15px;
    text-align: center;
    background-color: white;
    color: black;
  }
  .carousel > h1
  {
    padding-top: 10px;
  }
  .carousel_box a
  {
    text-decoration: none;
    color: black;
  }
  .slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: 450px;
    margin-right: 50px;
    border-radius: 10px;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }
  .slider > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
  }
  .carousel_img{
    width: 90%;
    justify-content: space-evenly;
  }
  .carousel_img p
  {
    font-size: 0.2em;
  }
  .carousel_img img
  {
    width: 200px;
    height: 200px;
  }
  .card img
  {
    border-radius: 15px;
  }
  .card:hover
    {
        /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
        -webkit-transition: all 1s ease; /* Safari et Chrome */
        -moz-transition: all 1s ease; /* Firefox */
        -ms-transition: all 1s ease; /* Internet Explorer 9 */
        -o-transition: all 1s ease; /* Opera */
        transition: all 1s ease;
    }
    .card:hover 
    {
        /* L'image est grossie de 25% */
        -webkit-transform:scale(1.25); /* Safari et Chrome */
        -moz-transform:scale(1.25); /* Firefox */
        -ms-transform:scale(1.25); /* Internet Explorer 9 */
        -o-transform:scale(1.25); /* Opera */
        transform:scale(1.25);
    }

/*--------------fin du carousel------------*/

/*----------------footer-------------*/
.footer
{
  width: 90%;
  height: 150px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.social_media
{
    width: 15%;
    justify-content: space-evenly;
}
    .social_media img
    {
        width: 50px;
    }
    .social_media img:hover
    {
        box-shadow: #FFEB9C 0px 5px 55px, #FFEB9C 0px -12px 30px;
        border-radius: 50%;
    }
/*----------------fin du footer-------------*/

/* page login inscription */
.container
{
    width: 100%;
}
.bloc_blanc
{
    text-align: center;
    width: 70%;
    height: 700px;
    margin-top: 60px; 
    background-color: white;
    color: black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    justify-content: space-evenly;
}
.formulaire
{
    width: 60%;
    margin: auto;
    justify-content: space-evenly;
    height: 100%;
}
.texte-info
{
    margin-top: 60px;
}
#uploadForm
{
    justify-content: space-between;
}
.dropzone
{
    width: 700px;
    margin: auto;
    height: 200px;
    border: 2px dashed #ccc;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
    .dropzone--over
    {
        border-style: solid;
    }
    #dropZone {
        width: 300px;
        height: 200px;
        border: 2px dashed #ccc;
        text-align: center;
        line-height: 200px;
        font-size: 18px;
      }


















      .audio-player {
        width: 100%;
        height: 70px;
        margin: auto;
        justify-content: space-evenly;
        position: fixed;
        bottom: 0;
        background-color: white;
        color: black;
      }
      .image-svg
      {
        fill: red;
        stroke: blue;
      }
      .timer
      {
        width: 200px;
        margin: auto;
        justify-content: space-evenly;
      }
      .lecteur
      {
        width: 60%;
        justify-content: space-around;
      }
      .player-controls {
        width: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: black;
      }
      .playAudio {
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
        border: none;
        width: 30px;
        height: 30px;
        background-color: transparent;
      }
      
      .previousTrack {
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
        border: none;
        width: 30px;
        height: 30px;
        background-color: transparent;
      }
      
      .nextTrack {
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
        border: none;
        width: 30px;
        height: 30px;
        background-color: transparent;
      }
      .volume
      {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
      }
      .volume-img
      {
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
        border: none;
        width: 30px;
        height: 30px;
        background-color: transparent;
      }
      .playAudio > img {
        width: 100%;
      }
      .volumeSlider
      {
        /* transform: rotate(-90deg); */
        -webkit-appearance:none;
        height: 10px;
        border-radius: 5px 5px 5px 5px;
        width: 100px;
        background-color: #FFEB9C;
      }
      input[type="range"]::-webkit-slider-thumb {
        background-color: white;
      }
      
      input[type="range"]::-moz-range-thumb {
        background-color: white;
      }
      
      input[type="range"]::-ms-thumb {
        background-color: white;
      }
      .previousTrack > img {
        width: 100%;
      }
      
      .nextTrack > img {
        width: 100%;
      }
      .volume-img > img 
      {
        width: 100%;
      }
      
      small {
        font-size: 10px;
      }
      
      .seekObjContainer {
        width: 70%;
        position: relative;
        margin: auto;
        align-items: center;
        justify-content: space-evenly;

      }
      
      .seekObj {
        position: relative;
        align-items: center;
        width: 100%;
        height: 7px;
        background-color: #000000;
        border-radius: 5px 5px 5px 5px;
      }
      
      .percentage {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background-color: #FFEB9C;
      }
      .titre
      {
        width: 20%;
        margin: auto;
        justify-content: center;
        align-items: center;
      }
      .currentTrackTitle
      {
        justify-content: center;
        align-items: center;
      }
