/*police*/
@font-face {
    font-family: 'Aldrich';
    src: url('Aldrich-Regular.ttf')
}
/* toutes les pages */
body
{
  font-size: 1.2em;
    font-family: 'Aldrich-Regular.ttf',Arial, Helvetica, sans-serif;
    color: white;
    background: rgb(0,0,0);
    background: linear-gradient(18deg, rgba(0,0,0,1) 79%, rgba(255,235,156,1) 100%);  
    background-attachment: fixed;
}
.flex
{
    display: flex;
}
.row
{
    flex-direction: row;
}
.column
{
    flex-direction: column;
}
/* mode sombre */
*
{
    box-sizing: border-box;
}
.dark .inter_left
{
    background-color: #454445;
    color: white ;
}
.dark .inter_right
{
    background-color: #454445;
    color: white ;
}
.dark .carousel
{
    background-color: #454445;
    color: white ;
}
.dark .slides
{
    background-color: #454445;
    color: white ;
}
.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 20px;
	width: 45px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 15px;
	width: 15px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}
.modelightsombre
{
    margin-top: -15px;
    width: 150px;
    align-items: center;
    justify-content: space-between;
}
.modelightsombre img
{
    width: 30px;
}
/* fin mode sombre*/


/* navbar */

.logonav img
{
    width: 50px;
}
.navbar
{
    list-style: none;
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
.navpage
{
    margin-top: 15px;
    width: 80%;
    justify-content: space-evenly;
}
.navlink
{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.776);
}
.active
{
    color: white;
    text-shadow: 1px 1px 20px white, 0 0 1em white;
}
a:hover
{
    color: rgb(255, 255, 255);
}

.profil
{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: red;
}

/*page accueil*/
.texte_intro
{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
.interraction_page
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    justify-content: space-around;
    color: black;
}
.inter_left
{
    justify-content: space-evenly;
    text-align: center;
    background-color: white;
    width: 35%;
    height: 300px;
    border-radius: 15px;
}
.inter_text
{
  margin-left: 50px;
  margin-right: 50px;
}
.inter_right
{
    justify-content: space-evenly;
    text-align: center;
    background-color: white;
    width: 35%;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 15px;

}
.selecteur
{
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 20px;
}
.search_inter
{
    margin-bottom: 20px;
    margin-right: 20%;
    margin-left: 20%;
    border: 1px solid black;
}
.button
{
    text-decoration: none;
    color: black;

}
.inter_link
{
    text-decoration: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    height: 35px;
    width: 150px;
    border-radius: 10px;
    color: black;
    background-color: #FFEB9C;
}
.inter_link:hover
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    height: 35px;
    width: 150px;
    border-radius: 10px;
    color: white;
    background-color: black;
}
.image_banniere
{
    background-image: url(../Ressources/vinyl_gauche.png);
    background-position-y: center;
    background-size: cover;
    height: 500px; 
    justify-content: space-evenly;
}
.image_banniere > h2
{
  margin-left: 10%;
}
.lignes
{
    width: 900px;
    font-size: 1.5em;
    justify-content: space-between;
    margin: auto;
}
.ligne1
{
    width: 600px;
    justify-content: space-between;
    margin: 20px;
}
.vinyl
{
  margin: 20px;
  justify-content: space-between;
}
.image_banniere img
{
    width: 100px;
}


/*---------------carousel--------------- */

.carousel {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 15px;
    text-align: center;
    background-color: white;
    color: black;
  }
  .carousel_box a
  {
    text-decoration: none;
    color: black;
  }
  .slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: 400px;
    margin-right: 50px;
    border-radius: 10px;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }
  .slider > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
  }
  .carousel_img{
    width: 90%;
    justify-content: space-evenly;
  }
  .card img
  {
    border-radius: 15px;
  }
  .card:hover{
        /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
        -webkit-transition: all 1s ease; /* Safari et Chrome */
        -moz-transition: all 1s ease; /* Firefox */
        -ms-transition: all 1s ease; /* Internet Explorer 9 */
        -o-transition: all 1s ease; /* Opera */
        transition: all 1s ease;
        }
    .card:hover {
        /* L'image est grossie de 25% */
        -webkit-transform:scale(1.25); /* Safari et Chrome */
        -moz-transform:scale(1.25); /* Firefox */
        -ms-transform:scale(1.25); /* Internet Explorer 9 */
        -o-transform:scale(1.25); /* Opera */
        transform:scale(1.25);
        }
  .carousel_img p{
    font-size: 0.2em;
  }
  .carousel_img img{
    width: 200px;
    height: 200px;
  }
/*--------------fin du carousel------------*/

/*----------------footer-------------*/
.footer
{
  width: 90%;
  height: 100px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.social_media
{
    width: 15%;
    justify-content: space-evenly;
}
.social_media img
{
    width: 50px;
}
.social_media img:hover
{
    box-shadow: #FFEB9C 0px 5px 55px, #FFEB9C 0px -12px 30px;
    border-radius: 50%;
}
/*----------------fin du footer-------------*/